@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-gray-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    --dark-gray: hsl(0, 0%, 59%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.8rem;

    background-color: var(--dark-cyan);
}

.backg {
    display: flex;
    justify-content: space-around;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.backg-top {
    flex: 1;

    background-image: url('../images/bg-pattern-top.svg');
    background-repeat: no-repeat;
    background-size: contain;

    position: relative;
    top: -400px;
    right: 45px;

    transition: all 0.5s ease;
    opacity: 0.8;
}

.backg-bottom {
    flex: 1;

    background-image: url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-size: contain;

    position: relative;
    bottom: -540px;

    transition: all 0.5s ease;
    opacity: 0.8;
}

.card {
    margin: 2rem;

    position: absolute;
    z-index: 99;

    border-radius: 1.2rem;
    background-color: #fff;

    box-shadow: 0px 20px 60px -20px var(--dark-grayish-blue);
}

.card-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-photo-user {
    position: absolute;
    z-index: 99;
}

.card-photo-user img {
    border: 0.5rem solid #fff;
    border-radius: 50%;
}

.card-backg {
    height: 18rem;

    background-image: url('../images/bg-pattern-card.svg');
    background-size: cover;

    border-radius: 1.2rem 1.2rem 0rem 0rem;
}

.card-user {
    margin: 7.8rem 11rem 3rem 11rem;

    text-align: center;
    font-size: 1.4rem;

    line-height: 3.5rem;

    color: var(--dark-grayish-blue);
}

.card-user h1 {
    font-weight: 400;
}

.card-user span {
    font-weight: 700;

    color: var(--very-dark-gray-desaturated-blue);
}

.card-statistic {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    width: 100%;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.statistic-info {
    display: flex;

    flex-direction: column;
    align-items: center;

    font-size: 1.2rem;
    line-height: 2.5rem;
    color: var(--dark-grayish-blue);
}

.statistic-info strong {
    font-size: 1.8rem;
    color: var(--very-dark-gray-desaturated-blue);
}

@media (max-width: 470px) {
    .card-user {
        margin: 7.8rem 8rem 3rem 8rem;
    }
}

@media (max-width: 400px) {
    .card-user {
        margin: 7.8rem 7rem 3rem 7rem;

        font-size: 1.2rem;
    }


